# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / VS Code
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Optional: large audio files
*.wav